<h1>Angular</h1>

<h2>{{ 'Mi Nombre es: ' +getNombre() }}</h2>

<button [class.btn] = "estadoClase" [class.btn-success]="estadoClase">El boton</button>

<br><br>

<button [style.backgroundColor]="isActive ? 'green': 'black'">Stili binding</button>

<br><br>

<button (click)="save($event)">guardar</button>

<br><br>

<input type="text" (keyup.enter)="onKeyUp(nombre.value)" #nombre>

<br><br>
<input type="text" [(ngModel)]="persona.nombre">
<br><br>
<h2>{{ persona.nombre }}</h2>

<p>{{ info }}</p>

<app-usuario [persona]="persona" (enviar)="getMensaje($event)"></app-usuario>

<hr>
<ul>
  <li *ngFor="let fila of personas">
    {{ fila.nombre }}
  </li>
</ul>
